<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@laddge_">
    <meta property="og:url" content="https://tw4i.laddge.net/">
    <meta property="og:title" content="Twitter for iPhoneでツイート">
    <meta property="og:description" content="iPhoneを持っていなくてもiPhoneのフリができる">
    <meta property="og:image" content="https://github.com/laddge.png">
    <title>Twitter for iPhoneでツイート</title>
</head>
<body>
    <h1 class="text-center m-3 fw-bold">Twitter for iPhoneでツイート</h1>
    <hr><br>
    <div class="row mx-auto">
        <div class="mx-auto col-12 col-md-5">
            <div class="mb-5 border rounded text-center p-3">
                <p>iPhoneを持っていなくてもiPhoneのフリができます。</p>
                {%- if user -%}
                <img src="{{ user.profile_image_url_https }}" class="rounded-circle" height="24" width="24">@{{ user.screen_name }}でログイン中
                <a href="/logout"><button class="btn btn-secondary m-3">ログアウト</button></a>
                {%- else -%}
                <a href="{{ auth_url }}"><button class="btn btn-primary m-3">Twitterでログイン</button></a>
                {%- endif -%}
            </div>
            {%- if user -%}
            {%- if posted -%}
            {%- if tweet_url -%}
            <div class="alert alert-info mb-5">
                <h6 class="my-1">ツイートしました。<a href="{{ tweet_url }}" target="_blank">見る</a></h6>
            </div>
            {%- else -%}
            <div class="alert alert-danger mb-5">
                <h6 class="my-1">何かがおかしい。</h6>
            </div>
            {%- endif -%}
            {%- endif -%}
            <form action="/" method="POST" enctype="multipart/form-data">
                <h5 class="fw-normal">リプライ先:</h5>
                <div class="mb-3">
                    <input class="form-control" placeholder="リプライ先ツイートのURL" name="reply_url">
                </div>
                <h5 class="fw-normal">テキスト:</h5>
                <div class="mb-3">
                    <textarea class="form-control" placeholder="ツイート内容" style="height: 10rem; resize: none;" name="text"></textarea>
                </div>
                <h5 class="fw-normal">画像・動画:</h5>
                <div class="mb-3">
                    <input class="form-control" type="file" accept="image/*,video/*" name="media0">
                    <input class="form-control" type="file" accept="image/*,video/*" name="media1">
                    <input class="form-control" type="file" accept="image/*,video/*" name="media2">
                    <input class="form-control" type="file" accept="image/*,video/*" name="media3">
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary m-3">ツイート</button>
                </div>
            </form>
            {%- endif -%}
        </div>
    </div>
    <div class="text-center small py-2 text-secondary mt-3">
        &copy; 2022 Laddge
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</body>
</html>
